# Managed by Ansible (role: process_hardening) - CIS Debian 13 1.5.12 / 1.5.13.
[Coredump]
ProcessSizeMax={{ process_hardening_coredump_process_size_max }}
Storage={{ process_hardening_coredump_storage }}
