{% set uid = 1000 %}

-a always,exit -F arch=b64 -S adjtimex,settimeofday -k time-change
-a always,exit -F arch=b32 -S adjtimex,settimeofday -k time-change
-a always,exit -F arch=b64 -S clock_settime -F a0=0x0 -k time-change
-a always,exit -F arch=b32 -S clock_settime -F a0=0x0 -k time-change
-a always,exit -F arch=b64 -S sethostname,setdomainname -k system-locale
-a always,exit -F arch=b32 -S sethostname,setdomainname -k system-locale
-a always,exit -F arch=b64 -C euid!=uid -F auid!=unset -S execve -k user_emulation
-a always,exit -F arch=b32 -C euid!=uid -F auid!=unset -S execve -k user_emulation
-a always,exit -F arch=b64 -S chmod,fchmod,fchmodat,fchmodat2 -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b32 -S chmod,fchmod,fchmodat,fchmodat2 -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S chown,fchown,lchown,fchownat -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b32 -S chown,fchown,lchown,fchownat -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b32 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>={{ uid }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S creat,open,openat,truncate,ftruncate -F exit=-EACCES -F auid>={{ uid }} -F auid!=unset -k access
-a always,exit -F arch=b32 -S creat,open,openat,truncate,ftruncate -F exit=-EACCES -F auid>={{ uid }} -F auid!=unset -k access
-a always,exit -F arch=b64 -S creat,open,openat,truncate,ftruncate -F exit=-EPERM -F auid>={{ uid }} -F auid!=unset -k access
-a always,exit -F arch=b32 -S creat,open,openat,truncate,ftruncate -F exit=-EPERM -F auid>={{ uid }} -F auid!=unset -k access
-a always,exit -F arch=b64 -S mount -F auid>={{ uid }} -F auid!=unset -k mounts
-a always,exit -F arch=b32 -S mount -F auid>={{ uid }} -F auid!=unset -k mounts
-a always,exit -F arch=b64 -S unlink,unlinkat -F auid>={{ uid }} -F auid!=unset -k delete
-a always,exit -F arch=b32 -S unlink,unlinkat -F auid>={{ uid }} -F auid!=unset -k delete
-a always,exit -F arch=b64 -S rename,renameat,renameat2 -F auid>={{ uid }} -F auid!=unset -k delete
-a always,exit -F arch=b32 -S rename,renameat,renameat2 -F auid>={{ uid }} -F auid!=unset -k delete
-a always,exit -F arch=b64 -S init_module,finit_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b32 -S init_module,finit_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b64 -S delete_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b32 -S delete_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b64 -S query_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b32 -S query_module -F auid>={{ uid }} -F auid!=unset -k kernel_modules

{% for w in auditd_watches %}
{% if w.perm == 'x' %}
-a always,exit -F arch=b64 -S all -F path={{ w.path }} -F perm=x -F auid>={{ uid }} -F auid!=unset -k {{ w.key }}
{% else %}
-a always,exit -F arch=b64 -S all -F {{ 'dir' if w.kind == 'dir' else 'path' }}={{ w.path }} -F perm={{ w.perm }} -k {{ w.key }}
{% endif %}
{% endfor %}
