{% for key, value in ssh_server_config | dictsort %}
{{ key }} {{ value }}
{% endfor %}
Ciphers {{ ssh_server_ciphers | join(',') }}
KexAlgorithms {{ ssh_server_kex_algorithms | join(',') }}
MACs {{ ssh_server_macs | join(',') }}
AllowUsers root
Subsystem sftp /usr/lib/openssh/sftp-server
